 <div class = "border-bottom row"; style = "margin-bottom:16px; padding-bottom :8px;"> 
   <div class =col-9>
  <h4    style = "color:rgb(120,120,120) ; margin-bottom : 4px;  text-align: left;"        >  {{  job['title']   }}  </h4> 
   <h4 style = "text-align:left"> <b>Salary</b>  {{  job['salary']  }}   </h4>
   <h4 style = "text-align :left" > <b>Location</b> {{  job['location']  }}   </h4>
   
   </div>

   <div class = col-3>
     <a href={{  job['link_apply']  }}  >
     <button  type ="button"  class = "btn btn-outline-primary" style = "text-align:right">Apply </button>
       </a>
   </div>

 </div>





